<% content_for :header_tag do  %>
  <%= javascript_include_tag 'simplestone/jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'simplestone/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_tag "jQuery.noConflict();" %>
  <% javascript_tag do -%>
    jQuery(document).ready(function(){
      jQuery("textarea.tinymce").tinymce({
        script_url : '/javascripts/simplestone/tiny_mce/tiny_mce.js',
        theme : "advanced",
        plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template"
      });
    });
  <% end -%>
<% end %>

<%= error_messages_for :page %>

<% form_for(page) do |f| %>
<div>
  <label for="page_path">Page URL</label>
  <%= defined?(root_url) ? root_url : 'http://YOURSITE/' %><%= f.text_field :path %>
</div>

<div>
  <label for="page_parent_id">Parent Page</label>
  <%= page.could_have_parent? ? f.select(:parent_id, parent_pages_for(page),{}, {:class => 'span-8'}) : 'none' %>
</div>

<div>
  <label for="page_page_template_id">Template</label>
  <%= PageTemplate.count > 0 ? f.select(:page_template_id, templates, {},{:class => 'span-8'}) : 'default' -%>
</div>

<div>
  <label for="page_title">Title</label>
  <%= f.text_field :title, :class => "span-19" %>
</div>

<div>
  <label for="page_content">Content</label>
  <%= f.text_area :content, :class => "span-19 tinymce", :rows => 20 %>
</div>

<div>
  <%= f.submit "Save as Draft", :name => 'page[draft]' %>
  <%= f.submit "Save and Submit For Approval", :name => 'page[approve]' %>
  <%= f.submit "Publish", :name => 'page[publish]' if editor.manager? %>
  <%= link_to_function 'preview', "new Ajax.Request('#{preview_url}', {
    asynchronous:true, 
    evalScripts:true, 
    method:'post', 
    parameters:Form.serialize(this.parentNode.parentNode),
    onComplete:function(response) {
      var popup = window.open('', 'previewWindow');
      popup.document.write(response.responseText);
      popup.document.close();
    }
  })" %>
</div>

<div class="additional-fields">

  <fieldset id="page-expiration">
    <legend><%= link_to_function 'Page Expiration', 'new Effect.SlideDown("page-expiration-contents", { duration: 0.5 }); this.replace(this.innerHTML)' %></legend>
    <div id="page-expiration-contents" style="display:none;">
      <div>
        <label for="page_active_at">Active at</label>
        <%= f.text_field :active_at %>
      </div>
      
      <div>
        <label for="page_expires_at">Expires at</label>
        <%= f.text_field :expires_at %>
      </div>
    </div>
  </fieldset>
  
  <fieldset id="page-metadata">
    <legend><%= link_to_function 'Page Metadata', 'new Effect.SlideDown("page-metadata-contents", { duration: 0.5 }); this.replace(this.innerHTML)' %></legend>
    <div id="page-metadata-contents" style="display:none;">
      <div>
        <label for="page_meta_description">Description</label>
        <%= f.text_area :meta_description, :class => 'small', :rows => 4 %>
      </div>
      
      <div>
        <label for="page_meta_keywords">Keywords</label>
        <%= f.text_area :meta_keywords, :class => 'small', :rows => 4 %>
      </div>
    </div>
  </fieldset>
  
  <fieldset id="page-variables">
    <legend><%= link_to_function 'Page Variables', 'new Effect.SlideDown("page-variables-contents", { duration: 0.5 }); this.replace(this.innerHTML)' %></legend>
    <div id="page-variables-contents" style="display:none;">
      <% page.page_variables.each do |var| %>
        <div>
          <%= text_field_tag "page[variable][#{var.id}][name]", var.name %> = 
          <%= text_area_tag  "page[variable][#{var.id}][content]", var.content, :class => 'small' %>
        </div>
      <% end %>
      
      <% 1.upto(5) do |block| %>
        <div id="<%= "new-page-variables-block-#{block}" %>"<%= ' style="display:none;"' unless block == 1 %>">
          <% block.times do %>
            <% i ||= 0; i += 1 %>
            <div>
              <%= text_field_tag "page[new_variable][#{i}][name]" %> = 
              <%= text_area_tag  "page[new_variable][#{i}][content]", '', :class => 'small span12' %>
            </div>
          <% end %>
          <div><%= link_to_function('show more', "$('new-page-variables-block-#{block+1}').show(); this.hide();") unless block == 5 %></div>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
<% end %>
